<md-card>
    <md-card-content>
        <div layout="row" layout-align="center start">
            <img src="p/img/logo_big.png" class="logo128" />
            <h1 class="md-display-3">CS 145 Capstone Project</h1>
        </div>
        <h2 class="md-display-1">About</h2>
        <p>This <em>CS 145 Capstone Project</em> aims to create Arduino-based water level sensors (using ultrasonic proximity sensing) that are connected to a RESTful API for recording, retrieving and analyzing water level data. This will help conserve water, detect stagnant water to prevent the spread of disease-carrying mosquitoes, and give people a better overview of how their water is being used. The hardware side uses ACEduinos with Ethernet shields and the server side is built on NodeJS, Express and MongoDB. The front-end apps are being built using AngularJS.</p>
        <p>This project is currently <i>private</i> on GitHub.</p>
		<h3 class="md-headline">The Team</h3>
        <section layout="row">
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/vincent.jpg" />
                <h4 class="md-title">Vincent Paul Fiestada</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="mailto:vffiestada@up.edu.ph">
                        <md-icon md-svg-icon="email"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="http://github.com/vincentfiestada">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="http://facebook.com/cortexremora">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/team_member_2.jpg" />
                <h4 class="md-title">Faith Therese Pe&ntilde;a</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="https://github.com/illusionMeister125">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://web.facebook.com/illusionMeister125">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/team_member_3.jpg" />
                <h4 class="md-title">Kristia Gail Alcancia</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="https://github.com/kristiagail">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://web.facebook.com/whyyyareyoulookingatmyprofile">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/team_member_4.jpg" />
                <h4 class="md-title">Mark Anton Mamac</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="https://github.com/mgmamac">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://web.facebook.com/blackdragon1708">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/team_member_5.jpg" />
                <h4 class="md-title">Kerwin Delos Santos</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="https://github.com/kerdls">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://web.facebook.com/kerwindskerdls">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
            <div class="profile-card" layout="column" layout-align="center center">
                <img src="p/img/team_member_6.jpg" />
                <h4 class="md-title">Jaypee Renz San Gabriel</h4>
                <div layout="row" layout-align="space-around">
                    <md-button class="md-icon-button" href="https://github.com/jpsangabriel">
                        <md-icon md-svg-icon="github-box"></md-icon>
                    </md-button>
                    <md-button class="md-icon-button" href="https://web.facebook.com/jaypeerenz.sangabriel">
                        <md-icon md-svg-icon="facebook-box"></md-icon>
                    </md-button>
                </div>
            </div>
        </section>
		<h3 class="md-headline">Additional Credits</h3>
		<section>
			<ul>
				<li>The (temporary) icon is from the excellent <i>Total War: Rome 2</i> game</li>
			</ul>
		</section>
    </md-card-content>
</md-card>
